html, body, #app {
  height: 100%;
}
body {
  background-color: #21610B;*/
  font-family: "Segoe UI Webfont", "Helvetica Neue", "Lucida Grande", "Roboto", "Ebrima", sans-serif;
}

input {
  width:280px;
  align: left;
  margin: 0;
  padding-left: 0;
}

table {
  /*border-collapse: separate;*/
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
    width: 100%;
    white-space: nowrap;
}

th:last-child {
    width: 100%;
    align: left;
    margin: 0;
    padding-left: 0;
}

#header {
  font-size: 23px;
  font-style: oblique;
  font-weight: bold;
}

#table {
  background-color: #B40404;
}
/*
#form {
  background-color: #DF7401;
}*/

#message {
  font-size: 20px;
  color: #3B0B0B;
  font-weight: bold;
}

#info {
  color: red;
  font-size: 14px;
}

#list {
  background-color: #0B4C5F;
}

#title {
  font-size: 2.12rem;
  /*font-weight: 100;*/
  /*margin: 0;*/
  /*align: left;*/
  /*left: 0px;*/
  /*padding: 0px;*/
}

#main {
  max-width: 700px;
  margin: auto;
  display: block;
}

#img {
  width: 100px;
  height: 55px;
}

#img2 {
  width: 200px;
  height: 150px;
}

#larger {
  width: 300px;
  background-color: #045FB4;
  width:100%;

}

/*p {
  font-weight: lighter;
  display: block;
  text-align: left;
}*/

#user, #pass, #repass {
  width: 280px;
}

#dropdown {
  width: 200px;
  padding: 0px;
}
